<style>


/* translation container */
.trans {
  position: relative;
  display: inline-block;
font-style:italic;font-size:1.3em;
  border-bottom: 2px dotted black; /* If you want dots under the hoverable text */
}
/* Trans text */
.trans .ttrans {
  visibility: hidden;
  width: 6em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  border-radius: 1px;
font-style:bold;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.trans:hover .ttrans {
  visibility: visible;
}
.heb{font-size:2em;}
.latS{font-style:italic;font-size:1.5em;}
.latC{font-size:1.3em;}
</style>